body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
    position: relative;
    min-height: 100vh;
}

@media screen and (min-width: 1080px) and (max-width: 2000px) {
    #root {
        width: 65vw;
        margin: auto;
        border: 1px solid gainsboro;
    }
}

@media screen and (min-width: 2000px) {
    #root {
        width: 50vw;
        margin: auto;
        border: 1px solid gainsboro;
    }
}